@import "tailwindcss";
/* Global base tweaks (intentional & minimal) */
@layer base {
  html {
    font-family: Inter Variable, system-ui, sans-serif;
  }
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply  antialiased;
  }
}
